.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto;
}

img {
  width: 100px;
  margin: 49px 221px 9px 20px;
}

form {
  width: 300px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #365899;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  color: #365899;
  text-decoration: none;
}
.modify {
  margin: -3px 101px 18px 0;
}
